{% extends "base/base.html" %}

{% load static %}

{% block title %}Pagina Index{% endblock title %}

{% block content %}
<!-- <section class="grow bg-gray-50 dark:bg-gray-900"> -->
    <br><br><br>
<div class="grow">
    <br>
    <div
        class="bg-inm-marron-100 h-96 w-auto absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 p-4">

            
        <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
        <div id="carouselExampleCaptions" class="relative" data-te-carousel-init data-te-carousel-slide>
            <!--Carousel indicators-->
            <div class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
                data-te-carousel-indicators>
                <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="0"
                    data-te-carousel-active
                    class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="1"
                    class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                    aria-label="Slide 2"></button>
                <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="2"
                    class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                    aria-label="Slide 3"></button>
                <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="3"
                    class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                    aria-label="Slide 4"></button>
            </div>
            <div class="flex justify-center">
                <!--Carousel items-->
                
                <div
                    class="relative w-full max-w-[80%] overflow-hidden after:clear-both after:block after:content-['']">
                    <!--First item-->
                    <div
                    class="relative float-left hidden -mr-[100%] w-full mx-auto transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                    data-te-carousel-active data-te-carousel-item style="backface-visibility: hidden ">
                    
                        <div style="height: 350px;" class="align-middle grid grid-cols-2 gap-1 text-justify place-content-center ">

                            <div class="contp h-16 col-start-1 col-span-2 ...">
                                <div class="p-5 text-3xl font-semibold text-center uppercase"> &nbsp Bienvenidos </div>
                            </div>
                           
                            <div style="margin: 0 auto;" class=" col-start-1 col-span-1 self-auto">
                                <img src="{% static 'imgs/inami.png' %}" class="h-64 " alt="..." />
                            </div>
                            <div class="col-start-2 col-span-1">
                                <label for="username" class="font-medium"> <br><br>Utiliza el RUI electrónico para el registro de datos sobre la población migrante rescatada en México. <br> ¡Únete y contribuye a agilizar la operación migratoria a lo largo del país! </label>
                            </div>
                            <!-- <div class="col-start-2 col-span-4 ...">
                                <div class="pt-1"><label class="font-medium text-center uppercase">¡Datos puntuales, verificados y accesibles!</label></div>
                            </div> -->
                            <div class=" col-start-1 col-span-7 ...">
                                
                                <div class="pt-1"><label style="font-size: 11px;" class=" text-justify">Dirección General de Coordinación de Oficinas de Representación | Dirección General de Control y Verificación Migratoria</label></div>
                            </div>
                        </div>
                            
            
                  </div>
                    
                    <div class="relative float-left hidden h-96 -mr-[100%] w-full mx-auto transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                         data-te-carousel-item style="backface-visibility: hidden">
                        <img src="{% static 'imgs/hombres.jpeg' %}" class="block w-full" alt="..." />
                        <div class="static inset-x-[10%] bottom-5 hidden py-5 text-center text-white md:block">
                            <div class="bg-inm-marron-100 bg-opacity-60 h-auto w-auto absolute left-30 mt-10 top-10">
                                <p class=" text-3xl text-center font-family: 'Montserrat">
                                    <span class="text-inm-verde-100">Del </span>
                                    <span class="text-inm-verde-100 font-bold"> 01 de enero </span>
                                    <span class="text-inm-verde-100">al </span>
                                    <span class="text-inm-verde-100 font-bold">{{fecha}}</span>
                                    <span class="text-inm-rojo-200 font-bold">SE RESCATARON:</span>

                                <p class=" text-5xl text-center font-bold">
                                    <span id="tot" class="text-inm-cafe-100"></span>
                                </p>
                                <p class=" text-3xl text-center font-bold">
                                    <span class="text-inm-cafe-100">personas</span>
                                    <span class="text-inm-cafe-100">migrantes</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--Second item-->
                    <div class="relative float-left hidden -mr-[100%] w-full mx-auto transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item style="backface-visibility: hidden">
                        <img src="{% static 'imgs/total.jpg' %}" class="block w-full" alt="..." />
                        <div class="static inset-x-[10%] bottom-5 hidden py-5 text-center ml-40   text-white md:block">
                            <div class="bg-inm-marron-100 bg-opacity-60 h-auto w-auto absolute left-60 mt-10 top-20">
                                </p>
                                <p class=" text-5xl text-center font-bold">
                                    
                                    <span id="totH" class="text-inm-verde-100"></span>

                                </p>
                                <p class=" text-5xl text-center text-left font-bold">
                                    <span class="text-inm-verde-100">Hombres</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--Third item-->
                    <div class="relative float-left hidden -mr-[100%] w-full mx-auto transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item style="backface-visibility: hidden">
                        <img src="{% static 'imgs/mujeres.jpeg' %}" class="block w-full" alt="..." />
                        <div class="static inset-x-[10%] bottom-5 hidden py-5 text-center ml-55 text-white md:block">
                            <div class="bg-inm-marron-100 bg-opacity-60 h-auto w-auto absolute left-60 mt-10 top-20">
                                <p class=" text-5xl text-center font-bold">
                                    <span id="totM" class="text-inm-rojo-100"></span>
                                </p>
                                <p class=" text-5xl text-left font-bold">
                                    <span class="text-inm-rojo-100">Mujeres</span>
                                </p>
                            </div>
                        </div>
                        
                    </div>

                </div>
                
            </div>


            <!--Carousel controls - prev item-->
            <button
                class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                type="button" data-te-target="#carouselExampleCaptions" data-te-slide="prev">
                <span class="inline-block h-8 w-8">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </span>
                <span
                    class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
            </button>
            <!--Carousel controls - next item-->
            <button
                class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                type="button" data-te-target="#carouselExampleCaptions" data-te-slide="next">
                <span class="inline-block h-8 w-8">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </span>
                <span
                    class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Next</span>
            </button>
        </div>
    </div>
</div>

<!-- <div class="txt">
    <p class=" text-2xl text-inm-verde-100 text-center font-bold">Utiliza el RUI electrónico para el registro de datos
        sobre la población migrante rescatada en México.
        ¡Únete y contribuye a agilizar la operación migratoria a lo largo del país!</p>

</div> -->
<p class="ml-2 text-2xl text-inm-verde-100 text-center font-bold">¡Datos puntuales, verificados y accesibles!</p>

</div>


<script>
    cambiar();
   function cambiar(){
       var totH = document.getElementById("totH");
       var tot = document.getElementById("tot");
       var totM = document.getElementById("totM");

       tot.textContent = commaToK({{total}});
       totH.textContent = commaToK({{totalH}});
       totM.textContent = commaToK({{totalM}});
   }
       function commaToK (price) {
        if (!isNaN(price)) {
        return new Intl.NumberFormat("en-US", {
            maximumSignificantDigits: 4,
        }).format(price);
        } else {
        let newpriceString = price.replace(/,/g, "");
        let newPrice = parseFloat(newpriceString);
            return new Intl.NumberFormat("en-US", {
            maximumSignificantDigits: 4,
        }).format(newPrice);
        }
    };

    </script>


{% endblock content %}

<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-full lg:py-0">
    <div class="columns-2">
        <!-- <div class="w-full bg-white rounded-lg shadow dark:border sm:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"> -->
        <div class="">
            <img class="w-30" src="{% static 'imgs/inami.png' %}" width="250" alt="logo">
        </div>
        <div class="">
            <h1 class="">
                Ingresa al sistema
            </h1>

        </div>
    </div>
    <!-- </div> -->
</div>

